name: endorctl container scan

on:
  workflow_dispatch: # Allow manual triggering

jobs:
  endorctl-container-scan:
    permissions:
     id-token: write # This is required for requesting the JWT
     contents: read  # This is required for actions/checkout
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build
      run: go build -v ./...
    
    - name: 'Run endorctl'
      uses: endorlabs/github-action@00454d7d5ab11b3deb5ec3c71e711d1e8cd0829e # refs/containers
      with:
        namespace: "anand-js"
        api: "https://api.staging.endorlabs.com"
        enable_github_action_token: "false"
        api_key: ${{ secrets.ENDOR_API_CREDENTIALS_KEY }}
        api_secret: ${{ secrets.ENDOR_API_CREDENTIALS_SECRET }}
        log_verbose: "true"
        log_level: "debug"
        pr: "false"
        scan_dependencies: "true"
        
    - name: 'Run endorctl container scan'
      uses: endorlabs/github-action@00454d7d5ab11b3deb5ec3c71e711d1e8cd0829e # refs/containers
      with:
        namespace: "anand-js"
        api: "https://api.staging.endorlabs.com"
        enable_github_action_token: "false"
        api_key: ${{ secrets.ENDOR_API_CREDENTIALS_KEY }}
        api_secret: ${{ secrets.ENDOR_API_CREDENTIALS_SECRET }}
        scan_container: "true"
        image: "mongo:jammy"
        project_name: "mongo_container"
        # reset default parameters
        scan_dependencies: "false"
        pr: "false"
        additional_args: "--bypass-host-check"
